<html>
    <div>
        <p>What do you plan to do each day?</p>
    </div>
    <form action="/api/schedule" method="POST">
        <div>
            <label for="monday">Monday</label>
            <input name="monday" id="monday" required  />
        </div>
        <div>
            <label for="tuesday">Tuesday</label>
            <input name="tuesday" id="tuesday" required  />
        </div>
        <div>
            <label for="wednesday">Wednesday</label>
            <input name="wednesday" id="wednesday" required  />
        </div>
        <div>
            <label for="thursday">Thursday</label>
            <input name="thursday" id="thursday" required  />
        </div>
        <div>
            <label for="friday">Friday</label>
            <input name="friday" id="friday" required  />
        </div>
        <div>
            <label for="saturday">Saturday</label>
            <input name="saturday" id="saturday" required  />
        </div>
        <div>
            <label for="sunday">Sunday</label>
            <input name="sunday" id="sunday" required  />
        </div>
        <div>
            <button>Submit</button>
        </div>
    </form>
</html>

