<html>
    <form action="/api/exercises" method="POST">
        <div>
            <label for="name">Name of exercise</label>
            <input name="name" id="name" />
        </div>
        <div>
            <label for="sets">How many sets?</label>
            <input name="sets" id="sets" />
        </div>
        <div>
            <label for="reps">How many reps?</label>
            <input name="reps" id="reps" />
        </div>
        <div>
            <button>Create exercise</button>
        </div>
    </form>
</html>